@import '../../../vars.css';

:root {
  --tooltip-padding: 16px;
  --default-links-width: 83px;
  --default-title-width: calc(var(--column-width) - var(--item-padding) * 2 - var(--default-links-width) - var(--tooltip-padding));
  --rt-link-width: 21px;
}

.SuggestedItem {
  height: 50px;
  margin-bottom: 3px;

  background-color: var(--color-item-bg);
  overflow: hidden;
}

.SuggestedItem:last-child {
  margin-bottom: 0;
}

/* Item > Box */

.SuggestedItem_box {
  margin: calc(var(--item-padding) + 1px) var(--item-padding);
}

.SuggestedItem.hover.safari .SuggestedItem_box {
  position: relative;
  bottom: 8px;
}

/* Item > Title */

.SuggestedItem_title {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
  width: calc(var(--column-width) - var(--item-padding) * 2);
  height: 15px;

  font-size: 14px;
  font-weight: normal;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.SuggestedItem_season {
  position: absolute;
  margin-left: 4px;

  color: var(--color-item-muted-fg);
  font-size: 11px;
  font-weight: 600;
  vertical-align: super;
}

.SuggestedItem.hover .SuggestedItem_title {
  width: var(--default-title-width);
  margin-right: var(--tooltip-padding);
}

.SuggestedItem.hover.noRt .SuggestedItem_title {
  width: calc(var(--default-title-width) + var(--rt-link-width));
}

/* Item > Links */

.SuggestedItem_links {
  display: none;
  position: relative;
  bottom: 7px;
  width: var(--default-links-width);
}

.SuggestedItem.hover .SuggestedItem_links {
  display: inline-block;
}

.SuggestedItem.hover.noRt .SuggestedItem_links {
  width: calc(var(--default-links-width) - var(--rt-link-width));
}

.SuggestedItem.hover.safari .SuggestedItem_links {
  bottom: -1px;
}

.SuggestedItem_links > * {
  margin-right: 5px;

  cursor: pointer;
}

.SuggestedItem_links > *:last-child {
  margin-right: 0;
}

.SuggestedItem.noRt a[href*=rottentomatoes] {
  display: none;
}

.SuggestedItem_links img {
  height: 16px;

  filter: grayscale(100%);
}

.SuggestedItem_links img:hover {
  filter: none;
}

.SuggestedItem_links img.youtube {
  position: relative;
  top: 3px;
  height: 21px;
}

.SuggestedItem.noTrailer img.youtube {
  visibility: hidden;
}

/* Item > Meter */

.SuggestedItem_meter {
  height: 4px;

  background-color: var(--color-column-bg);
}

.SuggestedItem_meter_line {
  height: 100%;

  background-color: var(--color-accent);
}

/* Tooltip */

.SuggestedItem_tooltip {
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  width: 600px;
  z-index: 1;
  padding: var(--tooltip-padding);

  background-color: var(--color-item-bg);
  border: 1px solid var(--color-bg);
  box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.2);
}

@media (min-height: 800px) {
  .SuggestedItem_tooltip {
    width: 300px;
    flex-wrap: wrap;
  }
}

.SuggestedItem_tooltip.aligned {
  visibility: visible;
}

.SuggestedItem_tooltip:before {
  position: absolute;
  left: 0;
  content: ' ';

  margin-left: -19px;
  border: 10px solid transparent;
  border-right-color: var(--color-item-bg);
}

.SuggestedItem_tooltip.c:before {
  margin-top: -10px;
  top: 50%;
}

.SuggestedItem_tooltip.t:before {
  top: 15px;
}

.SuggestedItem_tooltip.b:before {
  bottom: 15px;
}

/* Tooltip > Scores */

.SuggestedItem_tooltip_scores {
  padding-top: 5px;
  padding-left: 4px;

  text-align: center;
}

.SuggestedItem_tooltip_scores_origin {
  margin-bottom: 20px;
}

.SuggestedItem_tooltip_scores_origin:last-child {
  margin-bottom: 0;
}

.SuggestedItem_tooltip_scores_origin.hidden {
  visibility: hidden;
}

.SuggestedItem_tooltip_scores_logo {
  display: block;
  margin: 0 auto;
  height: 20px;
}

.SuggestedItem_tooltip_scores_logo[alt=IMDb] {
  margin-bottom: -7px;
}

.SuggestedItem_tooltip_scores_score {
  margin-top: 14px;
}

.SuggestedItem_tooltip_scores_score_name {
  margin-bottom: 3px;

  color: var(--color-item-muted-fg);
  font-size: 10px;
  text-transform: uppercase;
}

.SuggestedItem_tooltip_scores_score_number {
  font-size: 22px;
}

.SuggestedItem_tooltip_scores_score_votes {
  margin-top: 3px;

  color: var(--color-item-muted-fg);
  font-size: 10px;
}

/* Tooltip > Poster */

.SuggestedItem_tooltip_poster {
  min-width: 200px;
  height: 300px;
  margin-left: 20px;

  border: 1px solid var(--color-bg);
}

@media (min-height: 800px) {
  .SuggestedItem_tooltip_poster {
    margin-left: 0;
  }
}

/* Tooltip > Summary */

.SuggestedItem_tooltip_summary {
  margin-left: var(--tooltip-padding);
  margin-bottom: var(--tooltip-padding);

  font-size: 12px;
  text-align: justify;
}

@media (min-height: 800px) {
  .SuggestedItem_tooltip_summary {
    width: 100%;
    margin-top: var(--tooltip-padding);
    margin-left: 0;
  }
}

/* Tooltip > Footer */

.SuggestedItem_tooltip_footerRow {
  margin-bottom: var(--tooltip-padding);

  color: var(--color-item-muted-fg);
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

.SuggestedItem_tooltip_footerRow:last-child {
  margin-bottom: 0;
}

.SuggestedItem_tooltip_footerRow > span {
  margin-right: 10px;
}

.SuggestedItem_tooltip_footerRow > span:last-child {
  margin-right: 0;
}

/* Tooltip > Critique */

.SuggestedItem_tooltip_critique {
  font-size: 12px;
  line-height: 1.5;
  text-align: justify;
}

.SuggestedItem_tooltip_critique_section {
  padding-bottom: 12px;
  margin-bottom: 8px;

  border-bottom: 1px solid var(--color-separator);
}

.SuggestedItem_tooltip_critique_section:last-child {
  padding: 0;
  margin: 0;

  border: none;
}

.SuggestedItem_tooltip_critique_section h3 {
  margin-bottom: 8px;

  font-size: 13px;
  font-weight: bold;
}

.SuggestedItem_tooltip_critique_text {
  margin-bottom: 9px;
}

.SuggestedItem_tooltip_critique_text:last-child {
  margin-bottom: 0;
}
